<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-auto px-0">
      <mat-card class="px-0">
        <div class="container-fluid">
          <div class="row mb-3">
            <div class="col">
              <h3>Create a new account</h3>
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row">
            <div class="col">
              
              <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
                <div class="registration-form-container">
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="Email">
                    <mat-error *ngIf="submitted && c.Email.errors && c.Email.errors.required">{{ getErrorMessage('Email', 'required') }}</mat-error>
                    <mat-error *ngIf="submitted && c.Email.errors && c.Email.errors.pattern">{{ getErrorMessage('Email', 'pattern') }}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="mb-2" >
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput formControlName="UserName">
                    <mat-error *ngIf="submitted && c.UserName.errors && c.UserName.errors.required">{{ getErrorMessage('UserName', 'required') }}</mat-error>
                    <mat-error *ngIf="submitted && c.UserName.errors && c.UserName.errors['invalidCharacters']">{{ getErrorMessage('UserName', 'invalidCharacters') }}</mat-error>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="Password">
                    <mat-error *ngIf="submitted && c.Password.errors && c.Password.errors.required">{{ getErrorMessage('Password', 'required') }}</mat-error>
                    <mat-error *ngIf="submitted && c.Password.errors && c.Password.errors['invalidCharacters']">{{ getErrorMessage('Password', 'invalidCharacters') }}</mat-error>
                    <mat-error *ngIf="submitted && c.Password.errors && c.Password.errors['passwordStrength']">{{ getErrorMessage('Password', 'passwordStrength') }}</mat-error>

                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Repeat Password</mat-label>
                    <input type="password" matInput formControlName="RepeatPassword">
                    <mat-error *ngIf="submitted && c.RepeatPassword.errors && c.RepeatPassword.errors.required">{{ getErrorMessage('RepeatPassword', 'required') }}</mat-error>
                    <mat-error *ngIf="submitted && c.RepeatPassword.errors && c.RepeatPassword.errors['invalidCharacters']">{{ getErrorMessage('RepeatPassword', 'invalidCharacters') }}</mat-error>
                    <mat-error *ngIf="submitted && c.RepeatPassword.errors && c.RepeatPassword.errors['mustMatch']">{{ getErrorMessage('RepeatPassword', 'mustMatch') }}</mat-error>
                  </mat-form-field>

                  <div class="form-group">
                    <button type="submit" class="float-right" [disabled]="loading" mat-flat-button color="primary">Register</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>