<div class="meeting-progress-container" *ngIf="!isStreamingReady">
    <!-- Loading indicator to show while waiting for other meeting members to join -->

    <div class="meeting-progress">
        <div class="meeting-progress-title">
            <h2>Waiting for others to join the meeting</h2>
        </div>
        <div class="meeting-progress-bar">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>

<div class="meeting-container" *ngIf="isStreamingReady">
    <!-- <mat-divider></mat-divider> -->

    <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #snav [mode]="'side'" [position]="'end'" [opened]="true">
            <div class="message-container">
                <div class="message-title">
                    <!-- <h3>Start a conversation</h3> -->
                    <mat-form-field appearance="outline">
                        <mat-label>Members</mat-label>
                        <mat-select (selectionChange)="setSelectedUser($event)" [formControl]="selectedUser">
                            <mat-option [value]="100" [disabled]="true">Select a user</mat-option>
                            <mat-option [value]="i" *ngFor="let user of users; index as i" > <!-- [disabled]="user.userType === type" -->
                                {{ user.member }} ({{ user.userType }})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="message-body">
                        <mat-tab-group *ngIf="isMessageTargetSelected" [selectedIndex]="selectedUser.value" (selectedTabChanged)="setCurrentClientId($event)" > <!-- mat-stretch-tabs  (selectedIndexChange)="selected.setValue($event)" -->
                            <mat-tab *ngFor="let tab of tabs; index as i">
                                <ng-template mat-tab-label>
                                    <div class="member-tab"> 
                                        <p class="tab-title">{{ tab.member }}</p>
                                        <button mat-icon-button class="tab-label" (click)="closeTab($event, i)"><mat-icon>close</mat-icon></button>
                                    </div>
                                </ng-template>
                                <div class="message-body">
                                    <div class="header">
                                        <!-- Display a weekday and time when the conversation was started -->
                                        <!-- <mat-divider *ngIf="messages.length"> {{ messages[0].timestamp | date : 'EEE, h' }} </mat-divider> -->
                                    </div>
                                    <div class="message" *ngFor="let message of messages[i]; index as j"
                                        [ngStyle]="{ 'align-self': alignMessage(message.userType) }"
                                        [style.background-color]="setBackgroundColor(message.userType)">
                                
                                        <div [ngSwitch]="message.contentType">
                                            <div *ngSwitchCase="'file'">
                                                <a href="#">{{ message.filename }}</a>
                                            </div>
                                            <div *ngSwitchCase="'message'">
                                                {{ message.body }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1"
                                    (click)="removeTab(index)">
                                    Delete Tab
                                </button> -->
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <!-- <button mat-icon-button color="primary" class="control-message" (click)="snav.close()">
                        <mat-icon>close</mat-icon>
                    </button> -->
                </div>
                
                <div class="message-input">
                    <form class="message-form" [formGroup]="messengerForm">
                        <mat-form-field appearance="outline">
                            <mat-label>Send a message</mat-label>
                            <textarea formControlName="Message" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </form>
                    <button mat-mini-fab color="primary" (click)="sendMessage($event)"><mat-icon>arrow_upward</mat-icon></button>
                    <button mat-mini-fab color="accent" (click)="uploader.click()"><mat-icon>cloud_upload</mat-icon></button>
                    <input type="file" hidden (change)="sendFile($event)" #uploader>
                </div>
            </div>
        </mat-sidenav>
            
        <mat-sidenav-content>
            <div class="meeting-toggles" *ngIf="!isDashboardHidden">
                <button mat-fab color="warm" class="control-message" [matMenuTriggerFor]="menu">
                    <mat-icon>people_outline</mat-icon>
                </button>
                <button mat-fab color="primary" class="control-message" (click)="snav.toggle()">
                    <mat-icon>chat_bubble_outline</mat-icon>
                </button>
            
                <mat-menu #menu="matMenu" yPosition="above">
                    <button mat-menu-item *ngFor="let user of users; index as i">{{ user.member }} ({{ user.userType }})</button>
                </mat-menu>
            </div>
            <div class="meeting-dashboard" *ngIf="!isDashboardHidden">
                <div class="dashboard-title">
                    <button mat-raised-button color="primary" (click)="enterVideoConferenceMode($event)">Videoconference</button>
                    <button mat-raised-button color="primary" (click)="enterScreenSharingMode($event)">Screensharing</button>
                </div>

            </div>

            <div class="video-container" #videoContainer>
                <div class="video-wrap">
                    <div class="main-video">
                        <video autoplay #mainVideoArea></video>
                    </div>
                    <div class="small-video-bar">
                        <div class="small-video-remote-container" *ngIf="webcamStreamsLength > 1">
                            <div class="small-video-remote" *ngFor="let stream of webcamStreams | keyvalue; index as i">
                                <video autoplay muted #remoteVideo></video>
                            </div>
                        </div>
                        <div class="small-video-local">
                            <video autoplay muted #smallVideoArea></video>
                        </div>
                    </div>
                </div>
                <div id="videoconference-controls" class="video-controls" *ngIf="displayControls$ | async">
                    <button mat-fab color="primary" class="control-message" (click)="snav.toggle()">
                        <mat-icon>chat_bubble_outline</mat-icon>
                    </button>
                    <button mat-fab color="warm" class="control-microphone" (click)="muteMicrophone($event)">
                        <mat-icon *ngIf="!isMuted">mic</mat-icon>
                        <mat-icon *ngIf="isMuted">mic_off</mat-icon>
                    </button>
                    <button mat-fab color="warm" class="control-microphone" (click)="disableVideoCamera($event)">
                        <mat-icon *ngIf="!isPaused">videocam</mat-icon>
                        <mat-icon *ngIf="isPaused">videocam_off</mat-icon>
                    </button>
                    <button mat-fab color="warm">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <button mat-fab color="warm" class="control-close" (click)="endVideoConference($event)">
                        <mat-icon>call_end</mat-icon>
                    </button>
                </div>
            </div>

            <div class="screen-share-container" #screenShareContainer>
                <video class="screen-share-video" #screenShareVideoArea></video>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
