/*
    overflow properties:
    - hidden
    - scroll
    - visible
    - auto
*/

// This makes sure that the padding and border are included in the total width and height of all elements.

* {
    box-sizing: border-box;
}

.mat-divider {
    margin-bottom: 10px;
}

.mat-form-field {
    width: 100%;
}

.chatroom-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 5px;
    padding: 5px;
    // width: 100%;
    overflow: hidden;
    height: 100%;
}

.chatroom-heading {
    display: flex; 
    justify-content: space-between;
}

h2, h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}




.chatroom-join {
    margin-right: 10px;
    width: 450px;
}

.join-actions {
    display: flex;
    justify-content: flex-end;
}

.chatroom-create {
    // display: flex;
    // justify-content: flex-end;
    margin: 10px 0;

}

// Meeting List Styles

.chatroom-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meetings {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.chatroom-list {
    margin-left: 10px;
    width: 450px;

}

.list-item {
    display: flex;
    margin: 5px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.meeting:hover {
    .item-button {
        display: inline;
        // border: 1px solid blue
    }
}


.item-button {
    display: block;
}


.chatroom-join, .chatroom-list  {
    width: 50%;
}

.mat-card {
    width: auto;
}
